@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --background-color: rgba(255, 255, 235, 1);
    --background-image: linear-gradient(180deg, rgba(255, 255, 235, 1) 35%, rgba(255, 252, 163, 1) 87%);
    --nav-backround:rgba(255, 255, 255, 0.80);
}

* {
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    background-color: var(--background-color);
    background-image: var(--background-image);
}

section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

h1 {
    letter-spacing: 5px;
    font-size: 100px;
}

h2 {
    font-size: 65px;
    text-align: center;
}

/* Pasek nawigacji */
nav  {
    z-index: 99;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
    font-size: 2rem;
    background-color: var(--nav-backround);
}
a {
    margin-right: 80;
    text-decoration: none;
    color: black;
}

/* Strona główna */
.strona-glowna-kontener {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    position: relative;
}

video {
    height: auto;
    width: 100vw;
}

.nakładka-wideo {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(182, 181, 181, 0.4);
    z-index: 2;
}

.logo-kontener {
    position: absolute;
    z-index: 3;
}

img#logo-firmy-obraz {
    margin-top: 6rem;
    height: 300px;
    width: 300px;
}

.nazwa-firmy {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 20rem;
    z-index: 3;
}

/* O Nas */
.oNas-kontener{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.ramka-tekstu {
    background: rgba(51, 51, 51,0.85);
    color: aliceblue;
    box-shadow: 10px 10px 20px rgba(119, 119, 119, 0.7);
    width: 800px;
    padding: 30px;
    border-radius: 20px;
    text-align: justify;
}

/* Projekty */

.porownanie-obrazow-kontener {
    position: relative;
    margin-bottom: 6rem;
    width: 600px;
    height: 400px; /*should be the same height as the images*/
  }
  
.porownanie-obrazow-obraz {
    position: absolute;
    border-radius: 25px;
    width: auto;
    height: auto;
    overflow: hidden;
  }
  
.porownanie-obrazow-obraz img {
    display: block;
  }
  
.porownanie-obrazow-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    /*set the appearance of the slider:*/
    width: 40px;
    height: 40px;
    background-color: #2196F3;
    opacity: 0.7;
    border-radius: 50%;
  }