@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --background-color: rgba(255, 255, 235, 1);
    --background-image: linear-gradient(180deg, rgba(255, 255, 235, 1) 35%, rgba(255, 252, 163, 1) 87%);
    --nav-backround:rgba(255, 255, 255, 0.80);
    --modal-background: rgba(0, 0, 0, 0.90);
}

* {
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    background-color: var(--background-color);
    background-image: var(--background-image);
}

section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

h1 {
    letter-spacing: 5px;
    font-size: 100px;
}

h2 {
    font-size: 5em;
    text-align: center;
    margin: 0;
    margin-top: 0.4em;
}

/* Pasek nawigacji */
nav  {
    z-index: 99;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
    font-size: 2rem;
    background-color: var(--nav-backround);
}
nav > a {
    margin-right: 80;
    text-decoration: none;
    color: black;
}

/* Strona główna */
.strona-glowna-kontener {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    position: relative;
}

video {
    height: auto;
    width: 100vw;
}

.nakładka-wideo {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(182, 181, 181, 0.4);
    z-index: 2;
}

.logo-kontener {
    position: absolute;
    z-index: 3;
}

img#logo-firmy-obraz {
    margin-top: 6rem;
    height: 300px;
    width: 300px;
}

.nazwa-firmy {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 20rem;
    z-index: 3;
}

/* O Nas */
.oNas-kontener{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.ramka-tekstu {
    background: rgba(51, 51, 51,0.85);
    color: aliceblue;
    box-shadow: 10px 10px 20px rgba(119, 119, 119, 0.7);
    width: 800px;
    padding: 30px;
    border-radius: 20px;
    text-align: justify;
}

/* Projekty - sekcja */

/* Slider - styling */
.porownanie-obrazow-kontener {
    position: relative;
    margin-bottom: 6rem;
    width: 600px;
    height: 400px; /*should be the same height as the images*/
}
.porownanie-obrazow-obraz {
    position: absolute;
    border-radius: 25px;
    width: auto;
    height: auto;
    overflow: hidden;
}
.porownanie-obrazow-obraz img {
    display: block;
}
.porownanie-obrazow-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    /*set the appearance of the slider:*/
    width: 40px;
    height: 40px;
    background-color: #2196F3;
    opacity: 0.7;
    border-radius: 50%;
}


/* Lightbox - styling */
.row > .column {
    padding: 0 8px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
    float: left;
    width: 25%;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 1rem;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--modal-background);
}

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 50%;
    height:50%;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 1rem;
    right: 4rem;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    display: none;
}

.mySlides > img {
    height: auto;
    width: 100%;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    padding: 1rem;
    bottom: 0;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-text-stroke: 0.5px #000;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    position: absolute;
    
}

/* Caption text */
.caption-container {
    text-align: center;
    padding: 2px 16px;
    color: white;
}
img.demo {
    opacity: 0.6;
    width: 80%;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}